/*
    Base 
*/
:root {

    --colorGard2: #FBFFFF;
    --colorGard1: #BFD8E2;
    --colorthr: #10AC90;
    --colortwo: #44A124;
    --colorone: #BB3D15;
    --colorDarkGrad2: #BB3D15;
    --colorDarkGrad1: #BB3D15;
    --offblack: #070939;
}


.colorBlue {
    background-color: var(--colorthr);
}

.colorGreen {
    background-color: var(--colortwo);
}

.colorRed {
    background-color: var(--colorone);
}











/*
Body 
*/
.bodyBackground {
    background-image: linear-gradient(to bottom right, #FBFFFF, #BFD8E2);
    font-family: 'Quicksand', sans-serif;
    color: var(--offblack);
    min-height: 100vh;
    padding: 2rem;
}

@media (min-width: 768px) {
    .bodyBackground {
        background-image: linear-gradient(to bottom, #FBFFFF, #BFD8E2);
        padding: 4rem;
    }
}

@media (min-width: 1200px) {
    .bodyBackground {
        padding: 6rem;
    }
}

.centerTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.headerTitle {
    display: flex;
    font-size: 48px;
    justify-content: center;
    margin: 0px 60px 0px 60px;

}

.hr {
    height: 5px;
    background-color: var(--offblack);
    opacity: 50%;
    width: 30%;
    border-radius: 5px;
}

.TempCol {
    display: flex;
    flex-direction: column;
    justify-content: center;

}



/* buttons radio */

.buttonRow {
    display: flex;
    margin: 15px;

}


.radio {
    display: block;
    cursor: pointer;
    user-select: none;
    text-align: left;
    margin: 30px 30px 30px 30px;

}


.radio input {
    display: none;
}

.radio input+span {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    font-size: 18px;
    font-weight: 500;
}

.radio input+span:before {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    background: #fff;
    box-shadow: #bcbcc0 1px 1px 1px;
}

.radio input+span:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background: var(--offblack);
    position: absolute;
    border-radius: 50%;
    top: 4px;
    left: 4px;
    opacity: 0;
    transform: scale(0, 0);
    transition: all .2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
}

.radio input:checked+span:after {
    opacity: 1;
    transform: scale(1, 1);
}


.fade-in {
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.fade-in.fade-in-active {
    opacity: 1;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

.fade-out.fade-out-active {
    opacity: 1;
}




/*
Temp 
*/
.TempRow {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 24px;

}

/* Media Query for screens smaller than 600px */
@media (max-width: 1250px) {
    .TempRow {
        align-items: center;
        flex-direction: column;
        font-size: 20px;
    }
}

.circleTemp {
    height: 200px;
    width: 200px;

    border-radius: 50%;
    border: white 10px solid;
    display: flex;
    justify-content: center;
    align-items: center;

}

.TombTemp {
    background: linear-gradient(to bottom, #6A6884, #484759);
    padding: 50px;
    max-width: 230px;
    max-height: 300px;
    border: white 5px solid;
    border-radius: 40% 40% 0% 0%;
    margin: 30px;
    box-shadow: #9d9db2 10px 10px 15px;
}






/*
    Quotes
*/
.quoteRow {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--offblack);
    margin: 50px;
}


.quoteTemp {
    font-size: 28px;
}

.ImgCircle {
    height: 250px;
    width: 250px;
    padding: 10px;
    background-color: white;
    box-shadow: #9d9db2 5px 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.ImgCircleSmall {
    height: 50px;
    width: 50px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    box-shadow: #9d9db2 5px 5px 10px;
    border-radius: 50%;
    display: flex;
    align-self: end;

}

@media (max-width: 1250px) {
    .quoteRow {
        align-items: center;
        flex-direction: column;
        font-size: 20px;
    }

    .ImgCircleSmall {
        align-self: center;
        margin: 20px;
    }
}

.Img {

    height: 200px;
    width: 200px;
}

.gitHubLink {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--offblack);
    margin-top: 100px;
    font-size: 24px;
}

.attributionLink {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--offblack);
    margin-top: 50px;
    font-size: 16px;
}