.Montserrat {
  font-family: 'Montserrat', sans-serif;
}

:root {
  --black: black;
  --grey: #3D3D3D;
  --light: white;
  --one: #237490;
  --two: #D68233;
  --three: #D14765;


}

/* All color are WCAG AAA:Pass !
*/

/* sidebar */

.row {
  display: grid;
  grid-column: 1;
}

.sidebar {
  background-color: var(--grey);
  color: var(--light);

}



/* sidebar */


/* Front */
.bigGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
  margin: 40px;
}



.title {
  grid-column: 1/4;
  font-size: 32px;
  padding: 15px;

}


.whiteCard {
  background-color: white;
  box-shadow: 5px 5px 2px 1px grey;
  border: none;
  border-radius: 15px;
}

/* Front */