.Montserrat {
  font-family: 'Montserrat', sans-serif;
}

:root {
  --dark: #1E1E1E;


}

/* All color are WCAG AAA:Pass !
*/

/* sidebar */


.sidebar {
  color: ;
}

/* sidebar */

.whiteCard {
  background-color: white;
  box-shadow: 5px 5px 2px 1px grey;
}